h1 {
  font-size: 60px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f7f8;
}
.container {
  position: relative;
  overflow: hidden;
  width: 1230px;
  padding: 15px 0;
  box-sizing: border-box;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
