.form {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  padding: 80px 0;
  box-sizing: border-box;
}

.add,
.search {
  width: 300px;
  label {
    display: block;
    text-transform: uppercase;
    text-align: center;
  }
  input:not([type="button"]) {
    width: 100%;
    background-color: #f1f7f8;
    border: none;
    border-bottom: 1px solid #000;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    font-size: 14px;
  }
}

.add-button {
  width: 100px;
  font-size: 18px;
  border: 1px solid #000;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  &:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
}
